[submodule "broadnibber"]
	path = plugins/mekkablue-broadnibber
	url = https://github.com/mekkablue/BroadNibber
[submodule "mekkablue-glyphs-scripts"]
	path = mekkablue-glyphs-scripts
	url = https://github.com/mekkablue/Glyphs-Scripts
[submodule "justanotherfoundry-glyphsapp-scripts"]
	path = justanotherfoundry-glyphsapp-scripts
	url = https://github.com/justanotherfoundry/glyphsapp-scripts
[submodule "schriftgestalt-glyphs-scripts"]
	path = schriftgestalt-glyphs-scripts
	url = https://github.com/schriftgestalt/Glyphs-Scripts
[submodule "tosche-glyphs-scripts"]
	path = tosche-glyphs-scripts
	url = https://github.com/Tosche/Glyphs-Scripts
[submodule "juandelperal-glyphs-scripts"]
	path = juandelperal-glyphs-scripts
	url = https://github.com/juandelperal/glyphsScripts
[submodule "jenskutilek-redarrow-glyphs"]
	path = plugins/jenskutilek-redarrow-glyphs
	url = https://github.com/jenskutilek/RedArrow-Glyphs
[submodule "mekkablue-insertinflections"]
	path = plugins/mekkablue-insertinflections
	url = https://github.com/mekkablue/InsertInflections
[submodule "mekkablue-noodler"]
	path = plugins/mekkablue-noodler
	url = https://github.com/mekkablue/Noodler
[submodule "mekkablue-fixzerohandles"]
	path = plugins/mekkablue-fixzerohandles
	url = https://github.com/mekkablue/FixZeroHandles
[submodule "mekkablue-showmetricskeys"]
	path = plugins/mekkablue-showmetricskeys
	url = https://github.com/mekkablue/ShowMetricsKeys
[submodule "mekkablue-makecorner"]
	path = plugins/mekkablue-makecorner
	url = https://github.com/mekkablue/MakeCorner
[submodule "mekkablue-showinterpolations"]
	path = plugins/mekkablue-showinterpolations
	url = https://github.com/mekkablue/ShowInterpolations
[submodule "mekkablue-showangledhandles"]
	path = plugins/mekkablue-showangledhandles
	url = https://github.com/mekkablue/ShowAngledHandles
[submodule "mekkablue-showhandleseverywhere"]
	path = plugins/mekkablue-showhandleseverywhere
	url = https://github.com/mekkablue/ShowHandlesEverywhere
[submodule "mekkablue-layergeek"]
	path = plugins/mekkablue-layergeek
	url = https://github.com/mekkablue/LayerGeek
[submodule "mekkablue-cutandshake"]
	path = plugins/mekkablue-cutandshake
	url = https://github.com/mekkablue/CutAndShake
[submodule "mekkablue-showoffsetcurveparameterpreview"]
	path = plugins/mekkablue-showoffsetcurveparameterpreview
	url = https://github.com/mekkablue/ShowOffsetCurveParameterPreview
[submodule "mekkablue-inverter"]
	path = plugins/mekkablue-inverter
	url = https://github.com/mekkablue/Inverter
[submodule "mekkablue-showcomponentorder"]
	path = plugins/mekkablue-showcomponentorder
	url = https://github.com/mekkablue/ShowComponentOrder
[submodule "mekkablue-showcoordinatesofselectednodes"]
	path = plugins/mekkablue-showcoordinatesofselectednodes
	url = https://github.com/mekkablue/ShowCoordinatesOfSelectedNodes
[submodule "mekkablue-showglyphsinlabelcolor"]
	path = plugins/mekkablue-showglyphsinlabelcolor
	url = https://github.com/mekkablue/ShowGlyphsInLabelColor
[submodule "mekkablue-showcrosshair"]
	path = plugins/mekkablue-showcrosshair
	url = https://github.com/mekkablue/ShowCrosshair
[submodule "mekkablue-showfilledpreview"]
	path = plugins/mekkablue-showfilledpreview
	url = https://github.com/mekkablue/ShowFilledPreview
[submodule "plugins/simoncozens-glyphsgit"]
	path = plugins/simoncozens-glyphsgit
	url = https://github.com/simoncozens/GlyphsGit
[submodule "plugins/simoncozens-glyphsplugins"]
	path = plugins/simoncozens-glyphsplugins
	url = https://github.com/simoncozens/GlyphsPlugins
[submodule "simoncozens-glyphsscripts"]
	path = simoncozens-glyphsscripts
	url = https://github.com/simoncozens/GlyphsScripts
[submodule "plugins/guidoferreyra-shownextfont"]
	path = plugins/guidoferreyra-shownextfont
	url = https://github.com/guidoferreyra/ShowNextFont
[submodule "plugins/carrois-kernkraft"]
	path = plugins/bboxtype-kernkraft
	url = https://github.com/bBoxType/Kernkraft
[submodule "plugins/simoncozens-heatmap"]
	path = plugins/simoncozens-heatmap
	url = https://github.com/simoncozens/Heatmap
[submodule "justanotherfoundry-freemix-glyphsapp"]
	path = justanotherfoundry-freemix-glyphsapp
	url = https://github.com/justanotherfoundry/freemix-glyphsapp
[submodule "plugins/rafalbuchner-stemthickness"]
	path = plugins/rafalbuchner-stemthickness
	url = https://github.com/RafalBuchner/StemThickness
[submodule "m4rc1e-glyphs-scripts"]
	path = m4rc1e-glyphs-scripts
	url = https://github.com/m4rc1e/mf-glyphs-scripts
[submodule "jenskutilek-mastergrid"]
	path = jenskutilek-mastergrid
	url = https://github.com/jenskutilek/MasterGrid
[submodule "plugins/mark2mark-skedge"]
	path = plugins/mark2mark-skedge
	url = https://github.com/Mark2Mark/Skedge
[submodule "plugins/mark2mark-show-rotated"]
	path = plugins/mark2mark-show-rotated
	url = https://github.com/Mark2Mark/Show-Rotated
[submodule "plugins/mark2mark-show-stems"]
	path = plugins/mark2mark-show-stems
	url = https://github.com/Mark2Mark/Show-Stems
[submodule "plugins/mark2mark-blindfold"]
	path = plugins/mark2mark-blindfold
	url = https://github.com/Mark2Mark/Blindfold
[submodule "plugins/mark2mark-reported-toggler"]
	path = plugins/mark2mark-reported-toggler
	url = https://github.com/Mark2Mark/Reporter-Toggler
[submodule "plugins/mark2mark-show-smart-plumblines"]
	path = plugins/mark2mark-show-smart-plumblines
	url = https://github.com/Mark2Mark/Show-Smart-Plumblines
[submodule "plugins/mark2mark-show-label-color"]
	path = plugins/mark2mark-show-label-color
	url = https://github.com/Mark2Mark/Show-Label-Color
[submodule "plugins/mark2mark-show-kerning-group-reference"]
	path = plugins/mark2mark-show-kerning-group-reference
	url = https://github.com/Mark2Mark/Show-Kerning-Group-Reference
[submodule "plugins/mark2mark-arrange-windows"]
	path = plugins/mark2mark-arrange-windows
	url = https://github.com/Mark2Mark/Arrange-Windows
[submodule "plugins/mark2mark-show-next-master"]
	path = plugins/mark2mark-show-next-master
	url = https://github.com/Mark2Mark/Show-Next-Master
[submodule "plugins/mark2mark-show-siblings"]
	path = plugins/mark2mark-show-siblings
	url = https://github.com/Mark2Mark/Show-Siblings
[submodule "plugins/mark2mark-show-node-count"]
	path = plugins/mark2mark-show-node-count
	url = https://github.com/Mark2Mark/Show-Node-Count
[submodule "plugins/mark2mark-synced-tabs"]
	path = plugins/mark2mark-synced-tabs
	url = https://github.com/Mark2Mark/Synced-Tabs
[submodule "plugins/mark2mark-show-distance-and-angle-of-nodes"]
	path = plugins/mark2mark-show-distance-and-angle-of-nodes
	url = https://github.com/Mark2Mark/Show-Distance-And-Angle-Of-Nodes
[submodule "tosche-bubblekern"]
	path = tosche-bubblekern
	url = https://github.com/Tosche/BubbleKern.git
[submodule "luke-snider-de-casteljau-for-glyphsapp"]
	path = luke-snider-de-casteljau-for-glyphsapp
	url = https://github.com/luke-snider/de-casteljau-for-GlyphsApp
[submodule "harbortype-glyphs-scripts"]
	path = harbortype-glyphs-scripts
	url = git@github.com:harbortype/glyphs-scripts.git
