[submodule "broadnibber"]
	path = mekkablue-broadnibber
	url = https://github.com/mekkablue/BroadNibber
[submodule "mekkablue-glyphs-scripts"]
	path = mekkablue-glyphs-scripts
	url = https://github.com/mekkablue/Glyphs-Scripts
[submodule "justanotherfoundry-glyphsapp-scripts"]
	path = justanotherfoundry-glyphsapp-scripts
	url = https://github.com/justanotherfoundry/glyphsapp-scripts
